::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(120, 122, 118, 0.46);
    /*background-clip: content-box;*/
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(36, 34, 34, 0.57);
    /*background-color: red;*/

    height: 12px;

}
::-webkit-scrollbar-corner{
  background:rgba(120, 122, 118, 0.46);
  /*border-radius: 3px;*/
}



/*@media only screen and (min-width: 10px) and (max-width:319px) {
  img{
    width: 100%;
    height:80vmax;
  }
  .imageText{
    position: absolute;
    top:80%;
    left:10%;
    width: 80%;
    background-color:white;
    opacity:.5;
    font-size: 3.5vmax;
    border:1px white solid;
    border-radius: 15px;

  }
}
@media only screen and (min-width: 320px) and (max-width:480px) {
  img{
    width: 100%;
    height:70vmax;
  }
  .imageText{
    position: absolute;
    top:80%;
    left:10%;
    width: 80%;
    background-color:white;
    opacity:.5;
    font-size: 2.5vmax;
    border:1px white solid;
    border-radius: 15px;

  }
}

@media only screen and (min-width: 481px) and (max-width:767px) {
  img{
    width: 100%;
    height:60vmax;
  }
  .imageText{
    position: absolute;
    top:80%;
    left:10%;
    width: 80%;
    background-color:white;
    opacity:.5;
    font-size: 3.5vmax;
    border:1px white solid;
    border-radius: 15px;

  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  img{
    width: 100%;
    height:85vmax;
  }

  .imageText{
    position: absolute;
    top:80%;
    left:10%;
    width: 80%;
    background-color:white;
    opacity:.5;
    font-size: 3.5vmax;
    border:1px white solid;
    border-radius: 15px;

  }
}

@media only screen and (min-width: 1025px) and (max-width: 1880px) {
  img{
    width: 100%;
    height:50vmax;
  }

  .imageText{
    position: absolute;
    top:80%;
    left:10%;
    width: 80%;
    background-color:white;
    opacity:.5;
    font-size: 2.5vmax;
    border:1px white solid;
    border-radius: 15px;

  }
}

@media only screen and (min-width: 1881px) and (max-width: 2040px){
  img{
    width: 100%;
    height:60vmax;
  }

  .imageText{
    position: absolute;
    top:80%;
    left:10%;
    width: 80%;
    background-color:white;
    opacity:.5;
    font-size: 2.5vmax;
    border:1px white solid;
    border-radius: 15px;

  }
}

@media only screen and (min-width: 2041px) and (max-width: 10000px){
  img{
    width: 100%;
    height:80vmax;
  }

  .imageText{
    position: absolute;
    top:80%;
    left:10%;
    width: 80%;
    background-color:white;
    opacity:.5;
    font-size: 3vh;
    border:1px white solid;
    border-radius: 15px;

  }
}
*/

.navbar.navbar-inverse{
  margin-bottom: 0;
  border-radius: 0;
}

.blogMessage{
  max-height: 400px;
  overflow-y: scroll;
  color:rgb(70, 127, 133);
}

.mainSlideShow{
  width: 100%;
  /*min-height: 600px;
  max-height: 500px;*/
  min-height: 80vh;
  max-height: 80vh;
}

.font{
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

table.maingallery tbody tr td img{
  width: 200px;
  height: 200px;
  border: 1px solid white;
  box-shadow: 5px 5px 40px white, -5px -5px 40px #333333;
  /*transform: rotateY(180deg);*/
}

.background{
  background-color: rgba(108, 109, 111, 0.44);
  position: fixed;
  top: 0px;
}
#gallery table tbody tr td img:hover{
  box-shadow: 20px 20px 30px rgba(79, 68, 77, 0.89), -20px -20px 30px rgba(79, 68, 77, 0.89);
}
.rem2{
  position: fixed;
  width: 5%;
  height: 5%;
  background-color: gray;
  border-radius: 20px;
}
.rem2:hover{
  background-color: rgba(81, 84, 81, 0.88);
  color: rgba(235, 235, 235, 0.82);
}
#gallery table tbody tr td{
  border: 0;
}
#timestyle{
  color: white;
  font-size:20px;
  font-family: 'Vollkorn', serif;
  padding:10px;
  text-shadow: 1px 1px black;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  padding: 10px;
  font-family: 'Vollkorn', serif;
  border-right: .10em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  /*width: 16.5em;*/
  font-size: 2.5vw;
  width: 42vw;
  display: inline-block;
  animation:
    typing 7s steps(29, end),
    blink-caret 8s;
  animation-fill-mode: both;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  /*to { width: 16.5em}*/
  to { width: 42vw}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@keyframes flip {
  from{
    opacity: 0;
    transform: rotateY(180deg);
  }
  to{
    opacity: 1;
    transform:rotateY(360deg);
  }
}
