a{
  color:white;
}
div{
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}

.formBackground{
  background-size: 30% 30%;
}

#register{

  height: 100%;
  background-size: 90% 100%;
}



.userRecover ul{
  list-style-type: none;
}
.userRecover a{
  color:white;
  font-size: 10px;

}

#passwordRecover, #usernameRecover h2, h4{
  color: black;

}

#registrationForm, #passwordRecover, #usernameRecover label{
  font-size: 14px;
  /*color: rgb(163, 152, 105);*/
  color: rgb(140, 140, 140);

}
#registrationForm, #passwordRecover, #usernameRecover input, button{
  opacity: 0.8;
}
.mainBackground{
  background-size:90% 100%;
  overflow-x: hidden;
}
.text{
  white-space:pre-wrap;
  /*font-size: 22px;*/
  font-size: big;
  color:white;
  text-shadow: 1px 1px black;
}
.sectionStyle{
  font-weight: 900;
  font-size: bigger;
  color:black;
  text-shadow: 4px 4px white;
  font-family: 'EB Garamond', serif;

  /*padding: 10vmax;*/
}

footer{
  padding:10px;
  color:white;
}

footer ul{
  list-style-type: disc;
}

/*footer ul li :first-child{
  margin-left: 18vw;
}*/

footer ul li{
  padding-left: 2vmax;
  display: inline;
}

footer ul li a img:hover{
  border: 1px solid pink;
  color:rgb(168, 142, 100);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(120, 122, 118, 0.46);
    /*background-clip: content-box;*/
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(36, 34, 34, 0.57);
    /*background-color: red;*/

    height: 12px;

}
::-webkit-scrollbar-corner{
  background:rgba(120, 122, 118, 0.46);
  /*border-radius: 3px;*/
}


.navbar.navbar-inverse{
  margin-bottom: 0;
  border-radius: 0;
}

.blogMessage{
  max-height: 400px;
  overflow-y: scroll;
  color:rgb(70, 127, 133);
}

@media all and (orientation: landscape){
  .mainSlideShow{
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
  }
  #gallery{
    height: 80vh;
    overflow-y: scroll;
    padding: 1vmax;
    background-color: rgba(158, 151, 159, 0.39);
  }
  #gallery div img{
    width: 13vw;
    height: 13vw;
    z-index: 1;
  }
  #videoGallery iframe{
    height: 50vh;
  }
}

@media all and (orientation: portrait){
  .mainSlideShow{
    width: 100%;
    min-height: 60vw;
    max-height: 60vw;
  }
  #gallery{
    height: 50vh;
    overflow-y: scroll;
    padding: 1vmax;
    background-color: rgba(158, 151, 159, 0.39);
  }
  #gallery div img{
    width: 20vw;
    height: 23vw;
    z-index: 1;
  }

  #videoGallery iframe{
    height: 50vw;
  }
}

.login{
  height: 35vh;
  width: 100%;
  z-index: 1;
  padding: 1vmax;
  background-color: rgba(158, 151, 159, 0.39);

}





#gallery div img:hover{
  border: 2px solid rgb(31, 125, 150);
}

.close{
color:red;
position: absolute;
top: 5px;
right: 25px;
font-size: 35px;
font-weight: bold;
}


.background{
  background-color: rgba(108, 109, 111, 0.44);
  position: fixed;
  top: 0px;
  z-index: 2;
  left:0;
}
.background img{
  width: 100%;
  height: 400px;
}

.rem2{
  position: fixed;
  width: 5%;
  height: 5%;
  background-color: gray;
  border-radius: 20px;
}
.rem2:hover{
  background-color: rgba(81, 84, 81, 0.88);
  color: rgba(235, 235, 235, 0.82);
}

#timestyle{
  color: white;
  font-size:20px;
  font-family: 'Vollkorn', serif;
  padding:10px;
  text-shadow: 1px 1px black;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  padding: 10px;
  font-family: 'Vollkorn', serif;
  border-right: .10em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  /*width: 16.5em;*/
  font-size: 2.5vw;
  width: 42vw;
  display: inline-block;
  animation:
    typing 7s steps(29, end),
    blink-caret 8s;
  animation-fill-mode: both;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  /*to { width: 16.5em}*/
  to { width: 42vw}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@keyframes flip {
  from{
    opacity: 0;
    transform: rotateY(180deg);
  }
  to{
    opacity: 1;
    transform:rotateY(360deg);
  }
}
