<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'custom.css') }}">

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('main')}}">PostApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('main')}}">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"> {{username}}</a></li>
        <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"> SignOut</a></li>

      </ul>
    </div>
  </nav>

  <div class="container">
    <hr>
    <div class="blogMessage">
      {% for item in messages %}
      <div class="media">
        <div class="media-left">
          <img src="{{ url_for('static', filename='orchid7.jpg') }}" class="media-object" style="width:50px; height:50px"></ima>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{item['posted-by']}} <small><i>Posted on {{item['timestamp']}}</i></small></h4>
          <pre style="width:80%;">
            {{item['content']}}
        </pre>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


    <div class="container" >
      <hr>
    <!-- <form  action="http://localhost:5001/blog" method="POST"> -->
    <form  action="{{url_for('blog')}}" method="POST">

      {{ form.hidden_tag() }}
      <div class="form-group">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-md-7 col-lg-7">
          {{form.post(class="form-control", placeholder="ex. Type your message here....")}}
        </div>
        <div class="col-md-1 col-lg-1">
          <br />
          {{form.submit}}
        </div>
      </div>
    </form>
  </div>
  <br><br>
</body>

</html>
