<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'custom.css') }}">
  <script type="text/javascript" src="{{url_for('static', filename='responsiveElement.js')}}"></script>

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('main')}}">PostApp</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">
          <li class="active"><a href="{{url_for('main')}}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="checkUser" href="#"><span class="glyphicon glyphicon-user">Login</a></li>
          <li><a class="logout" href="{{url_for('main')}}"><span class="glyphicon glyphicon-log-out"> SignOut</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <ul class="list-group">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <li class="list-group-item text-center" style="background-color:#ff6666;">{{message}}</li>
    {% endfor %} {% endif %} {% endwith %}
  </ul>
  <div class="container">
    <form id="keyForm" action="{{url_for('blog')}}"  class="horizontal-form" method="POST">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-2"> KEY:</label>
        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
          <input type="password" class="form-control" placeholder="ex.KSS82347SLJD " name="key" id="key" value="" required>
          <p id="keyErr" class="text-danger small hidden">The key entered is incorrect. Please try again.</p>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
          <button type="submit" class="btn btn-default">Enter</button>
        </div>
      </div>
    </form>
  </div>

</body>

</html>
