<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'custom.css') }}">

  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'custom.css') }}"> -->
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('main')}}">PostApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('main')}}">
          <span class="glyphicon glyphicon-home"></span> Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"> {{username}}</a></li>
        <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"> SignOut</a></li>
      </ul>
    </div>
  </nav>
  <!-- <div class="col-md-offset-1 col-lg-offset-1" style="margin-top:40px;">
    <a href="{{ url_for('main') }}"><span class="glyphicon glyphicon-home" style="font-size:30px;"></span> Home</a>
  </div> -->

  <ul class="list-group">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <li class="list-group-item text-center" style="background-color:#ff6666;">{{message}}</li>
    {% endfor %} {% endif %} {% endwith %}
  </ul>



  <form action="http://localhost:5000/emailConfirmation/{{username}}" class="horizontal-form" method="POST">

    <div class="form-group">
      <div class="col-md-2">
      </div>

      <div class="col-md-2">
        <label for="" class="control-label " style="font-size:20px;"> Enter Key: </label>
      </div>

      <div class="col-md-5" style="padding-bottom: 30px;">
        <input type="text" style="font-weight: bold;" required class="form-control" placeholder="ex.KSS82347SLJD " name="key">
      </div>
      <div class="col-md-1">
          <button type="submit" class="btn btn-default ">Submit</button>
      </div>
    </div>
  </form>
</body>
</html>
